{% extends 'click_me.html' %}

{% block data %}
<div class="request-delete-email">
    {% if url_args.email %}
        {{ url_args.email }}
    {% else %}
        No email specified
    {% endif %}
</div>
{% endblock %}

{% block form %}
<input type="hidden" name="email" value="{{ url_args.email }}" />
{% endblock %}

{% block success_message %}
<i class="material-icons descriptor-icon">mail_outline</i><br />
Confirmation email sent
{% endblock %}

{% block submit_value %}Send request{% endblock %}

{% block url %}api/request_delete{% endblock %}
