@import 'colors';

.faq-arrow {
  vertical-align: middle;
}

.faq-question summary {
  font-weight: bold;
  display: list-item;
  font-size: 1.1em;
}

.faq-container {
  margin-top: 4%;
  margin-bottom: 4%;

  a {
    color: $faq-hyperlink-color;
    text-decoration: none;
    font-weight: bold;
  }
}

.faq-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}
