<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>ShadowMail</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/skeleton.css">
	<link rel="stylesheet" href="static/css/bundle.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="static/images/favicon.png">

</head>
<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="body">
		{% block data %}
		{% endblock %}
		<div class="container">
			<div class="row">
				<div class="offset-by-two eight columns">
					<form method="POST" id="click-me-form">
						<input type="submit" id="click-me-button" value="{% block submit_value %}{% endblock %}" />
					</form>
				</div>
			</div>
			<div class="row">
				<div class="offset-by-two eight columns success-response" id="click-me-success"
					style="display: none;">
					{% block success_message %}
					{% endblock %}
				</div>
			</div>
			<div class="row">
				<div class="offset-by-two eight columns error-response" id="click-me-error">
					<i class="material-icons descriptor-icon">error</i><br />
					<div id="click-me-error-text">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		&#xa9; ShadowMail.co.uk 2017
	</div>

	<div id="click-me-url" style="display:none;">
		{% block url %}
		{% endblock %}
	</div>
	<script src="static/js/bundle.js"></script>
</body>
</html>
