{% extends 'click_me.html' %}

{% block data %}
<div class="request-delete-email">
</div>
<div class="warning1">
	Warning!
</div>
<div class="warning2">
	This operation is not reversible.
</div>
{% endblock %}

{% block form %}
<input type="hidden" name="email" value="{{ url_args.email }}" />
<input type="hidden" name="timestamp" value="{{ url_args.timestamp }}" />
<input type="hidden" name="token" value="{{ url_args.token }}" />
{% endblock %}

{% block success_message %}
Email has been deleted
{% endblock %}

{% block submit_value %}
Confirm delete
{% endblock %}

{% block url %}
api/delete
{% endblock %}
