<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Shadowmail</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/skeleton.css">
	<link rel="stylesheet" href="static/css/bundle.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<div class="offset-by-two eight columns title">
				<img src="static/images/logo.png" alt="ShadowMail" class="logo-image" />
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns">
				<form method="POST" id="new-email-form"
				class="input-then-button-layout">
					<input type="submit" value="&#x21A9" />
					<span class="submit-span"><input type="email"
						class="email-input" id="new-email-input"
                        placeholder="you@domain.com" /></span>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns
                new-email-success-response" id="new-email-success">
				<i class="material-icons descriptor-icon">mail_outline</i><br />
                <div class="input-then-button-layout">
					<button type="submit" value="content_copy"
                        title="Copy to clipboard">
				        <i class="material-icons descriptor-icon
                            submit-material-icon">content_copy</i><br />
                    </button>
					<span class="submit-span"><input type="email"
						id="new-email-success-text" /></span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns error-response-small" id="new-email-error">
				<i class="material-icons descriptor-icon">error</i><br />
				<div id="new-email-error-text">
				</div>
			</div>
		</div>
	</div>
	<div class="background">
		<div class="container">
			<div class="row descriptor-container">
				<div class="four columns descriptor descriptor-one">
					<div class="descriptor-title">Simple</div>
					<div>
						<i class="material-icons descriptor-icon">done</i>
					</div>
					<div class="descriptor-text">
						ShadowMail is simple to use.  Simply enter your email address and start using your private, virtual email address immediately.
					</div>
				</div>
				<div class="four columns descriptor descriptor-two">
					<div class="descriptor-title">Secure</div>
					<div>
						<i class="material-icons descriptor-icon">lock</i>
					</div>
					<div class="descriptor-text">
						ShadowMails is 100% <a href="https://github.com/hintofbasil/ShadowMail" target="_blank">open source</a>.  You can audit our code yourself to ensure you're comfortable with our practises.
					</div>
				</div>
				<div class="four columns descriptor descriptor-three">
					<div class="descriptor-title">Private</div>
					<div>
						<i class="material-icons descriptor-icon">fingerprint</i>
					</div>
					<div class="descriptor-text">
						Avoid tracking by using a unique email address for each website.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row faq-container">
			<div class="offset-by-two eight columns faq-title">
				Frequently Asked Questions
			</div>
		</div>
		<div class="row faq-container">
			<div class="offset-by-two eight columns faq-question">
				<a href="#">
					<i class="material-icons faq-arrow">play_arrow</i>
					<span>What is question one?</span>
				</a>
			</div>
			<div class="offset-by-two eight columns faq-answer">
				This is answer one!
			</div>
		</div>
	</div>

	<script src="static/js/bundle.js"></script>
</body>
</html>
