<!DOCTYPE html>
<html lang="en">
<head>

	<!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta charset="utf-8">
	<title>Shadowmail</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- FONT
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<!-- CSS
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="stylesheet" href="static/css/normalize.css">
	<link rel="stylesheet" href="static/css/skeleton.css">
	<link rel="stylesheet" href="static/css/bundle.css">

	<!-- Favicon
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

	<!-- Primary Page Layout
	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
	<div class="container">
		<div class="row">
			<div class="offset-by-two eight columns title">
				<img src="static/images/logo.png" alt="ShadowMail" class="logo-image" />
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns">
				<form method="POST" id="new-email-form"
				class="input-then-button-layout">
					<input type="submit" value="&#x21A9" />
					<span class="submit-span"><input type="email"
						class="email-input" id="new-email-input" /></span>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns" id="new-email-success">
			</div>
		</div>
		<div class="row">
			<div class="offset-by-two eight columns" id="new-email-error">
			</div>
		</div>
	</div>
	<div class="background">
		<div class="container">
			<div class="row descriptor-container">
				<div class="four columns descriptor descriptor-one">
					<div class="descriptor-title">Simple</div>
					<div>
						<i class="material-icons descriptor-icon">done</i>
					</div>
					<div class="descriptor-text">
						ShadowMail is simple to use.  Simply enter your email address and start using your private, virtual email address immediately.
					</div>
				</div>
				<div class="four columns descriptor descriptor-two">
					hello
				</div>
				<div class="four columns descriptor descriptor-three">
					kk
				</div>
			</div>
		</div>
	</div>

	<script src="static/js/bundle.js"></script>
</body>
</html>
