$background-color: #340138;
$text-on-background-color: #fff;
$text-on-background-hyperlink: #666;
$subtitle-text-color: #a270a6;

$warning-text: #ff0000;
$success-text-color: #a370a7;
$error-text-color: #880000;

$faq-hyperlink-color: #000;
