@import 'colors';

.success-response {
  text-align: center;
  color: $success-text-color;
}

.error-response {
  text-align: center;
  color: $error-text-color;
  display: none;
}

@media (min-width: 550px) {
  .success-response {
    font-size: 2em;
  }

  .error-response {
    font-size: 2em;
  }
}
